<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styleslogin.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"></a>
  
                </div>
                <div class="form" action="#" >
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="navegador">
                <ul class="navegador-izquierda">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="navegador-derecha">
                    <li><a href="/views/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i></a>
        </header>
        <main class="login">
            <form action="/">
                <p class="form-login"> Ingresa y Validá tus datos </p>
                <label class="name-login">Nombre de usuario:</label>
                <input type="text" name="user" placeholder="Nombre de usuario">
                <label class="name-login">Ingrese su contraseña:</label>
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
               <button type="submit">Enviar</button> 
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>